/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #ccc;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

main#primary-content {
  height: 100%;
  padding: 5rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 1rem;
}

p {
  max-width: 500px;
  line-height: 1.5;
}

.wrapper {
  margin-top: 4rem;
}



.card {
  background-color: #111;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  max-width: 800px;
  padding: 40px 40px;
  position: relative;
}

div#ui-container {
  position: relative;
  height: 200px;
  width: 100%;
}

div.slidecontainer {
  margin: 2rem 0;
}

.slidecontainer label {
  margin-right: 1rem;
}

ul#checkbox-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul#checkbox-container li input {
  margin-right: 1rem;
}

button#copy-button {
  position: absolute;
  top: -10px;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: #222222;
  color: white;
  border: 2px solid #888;
  border-radius: 50px;
  cursor: pointer;
}



.btn {
  border: none;
  background-color: #2cb67d;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  clear: both;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

textarea#password {
  background-color: transparent;
  color: #fffffe;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  padding-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: 2px solid #c0c7cf;
  resize: none;
  white-space: nowrap;
  overflow: auto;
}

#password:focus {
  outline: none;
}



@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}