/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #ccc;
  font-size: 20px;
}

div#page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

aside#toggle-side-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 1;
  background-color: #111;
}

main#primary-content {
  position: absolute;
  left: 15%;
  top: 0;
  width: 85%;
  height: 100%;
  padding: 5rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 1rem;
}

p {
  max-width: 500px;
  line-height: 1.5;
}

.wrapper {
  margin-top: 4rem;
}



.card {
  background-color: #111;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  max-width: 800px;
  height: 300px;
  padding: 108px 40px;
  position: relative;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.btn {
  border: none;
  background-color: #2cb67d;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 0;
  clear: both;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

textarea#password {
  background-color: transparent;
  color: #fffffe;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  padding-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: 2px solid #c0c7cf;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
